@charset "UTF-8";

@font-face{
    font-family: passion;
    src: url(PassionOne-Regular.ttf);
}
@font-face{
    font-family: poema;
    src: url(CedarvilleCursive-Regular.ttf);
}
@font-face{
    font-family: cavet;
    src: url(Caveat-Regular.ttf);
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    height: 30vw;
    height: auto;
    background-color: black;
    background-size: cover;
}
header > h1{
    color: white;
    font-family: 'passion', Courier, monospace;
    font-size: 10vw;
    text-align: center;
    padding-top: 40px;
}
header > p{
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 40px;
    
}
main p{
    font-family: 'cavet', Courier, monospace;
    color: black;
    font-weight: bolder;
    font-size: 3vw;
    padding: 35px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438);
   
}
.normal{
    height:55vw;
    height: auto;
    background-color: white;
}
.corletra{
    color: white;
}
#img1{
    height: 55vw;
    height: auto;
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
#img2{
    height: 55vw;
    height: auto;
    background: url(imagens/natureza\ 2.jpg) right center no-repeat fixed;
    background-size: cover;
}
#img3{
    height: 55vw;
    height: auto;
    background: url(imagens/natureza1.jpg) right center no-repeat fixed;
    background-size: cover;
}
#img4{
    height: 55vw;
    height: auto;
    background:  url(imagens/natureza3.jpg) right center no-repeat fixed ;
    background-size: cover;
    margin-bottom: 30px;
}
footer{
    background-color: black;
}
footer > p{
    color: white;
    font-size: 2vw;
    padding: 5px;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}